@font-face {
  font-family: 'FlappyFont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/04B_19__.woff') format('woff');
}

body {
  background-color: black;
}
.game-container {
  float: left;
  /* margin: auto; */
  position: relative;
  overflow: hidden;
}

.bird {
  position: absolute;
  background-image: url(../images/flappy-sprite.png);
  background-position: 0 0;
  background-size: cover;
  z-index: 1;
}

.background-wrapper {
  position: absolute;
  background-image: url(../images/background.png);
  background-repeat: repeat-x;
  height: 512px;
  width: 1200px;
  background-position: 0 0;
}

.ground-wrapper {
  position: absolute;
  background-image: url(../images/ground.png);
  bottom: 0;
  background-repeat: repeat-x;
  width: 1200px;
  height: 138px;
}

.pipe {
  position: absolute;
  background-image: url(../images/pipe.png);
  left: 600px;
  width: 70px;
  background-size: cover;
}

.invert-pipe {
  transform: rotate(180deg);
}

.score-display {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  z-index: 1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.end-score,
.high-score {
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 80px;
  margin-left: 15px;
  width: 70px;
  text-align: center;
  display: inline-block;
}

.high-score {
  margin-left: 50px;
}

.start-menu,
.game-over {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 210px;
  height: 185px;
  transform: translateX(-50%);
  background-image: url(../images/start.png);
  background-size: cover;
}

.game-over {
  background-image: url(../images/game-over.png);
}
