.ants {
  position: absolute;
  height: 35px;
  width: 28px;
  background-image: url(../images/ants.gif);
  background-size: 100% 100%;
  transition: transform 0.1s ease;
}

.dead {
  background-image: url(../images/blood-patch.png);
}

.game-wrapper {
  position: relative;
  border: 5px solid green;
  margin: 10px;
  cursor: pointer;
  float: left;
}

.score-box {
  text-align: center;
}
